:root {
    --turquoise: #00a3a3;
    --lightturquoise: #00ffff;
    --darkturquoise: #00c0c0;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

figure {
    margin: 0;
    overflow: hidden;
}

figure:hover {
    overflow: hidden;
}

figure:hover img {
    transform: scale(1.05);
    transition: transform .25s;
    overflow: hidden;
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--turquoise);
    padding: 1em;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 10px;
    font-size: large;
}

.header__menu a li {
    display: flex;
    color: white;
}

.header__name {
    font-size: 1.5em;
    font-weight: bold;
}

.heading-of-library {
    background-image: url(../img/aqua.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em;
}

.heading-of-library h1 {
    margin: 0;
    color: #ffffff;
}

::selection {
    background-color: #016e6e;
    color: #ffffff;
}

.replacing-h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.flexbox__img {
    display: flex;
}

.flexbox__img img,
.grid__img img {
    width: 100%;
    object-fit: cover;
}

.grid__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 40em;
}

.button1,
.button2:hover {
    background-color: var(--darkturquoise);
    border: 5px solid var(--lightturquoise);
    border-radius: 2em;
}

.button2,
.button1:hover {
    background-color: var(--lightturquoise);
    border: 5px solid var(--darkturquoise);
    border-radius: 2em;
}



table {
    border-collapse: collapse;

}

td,
th {
    border: 3px rgb(0, 0, 0) solid;
    padding: .5rem;
    text-align: center;
}

th,
.tr1 {
    background-color: rgb(192, 245, 245);
    font-weight: bolder;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.orange {
    color: orange;
}

footer,
footer a {
    display: block;
    background-color: var(--turquoise);
    color: white;
    padding: 1em;
    margin: 0;
}
